<!-- <div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <app-todo-form
      (getToDo)="getToDoItem($event)"
      ></app-todo-form>
    </div>
    <div class="col-md-6">
      <app-todo-list [getTodoArr] = "todoArr"></app-todo-list>
    </div>
  </div>
</div> -->

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <app-std-form
      (emitStdData) = "getStdData($event)"
      ></app-std-form>
    </div>
    <div class="col-md-6">
      <app-std-table
      [getstdArr]="stdArray"  
    ></app-std-table>
    </div>
  </div>
</div>