


<div class="table-responsive" *ngIf=" getstdArr.length > 0; else noStd">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>First</th>
          <th>Last</th>
          <th>Email</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let std of getstdArr; index as i">
          <td>{{i + 1}}</td>
          <td>{{std.fname}}</td>
          <td>{{std.lname}}</td>
          <td>{{std.email}}</td>
          <td>{{std.contact}}</td>    
        </tr>
      </tbody>
    </table>
  </div>

 <ng-template #noStd>
    <p class="alert alert-info">
        No Student List is Added Yet !!
      </p>
 </ng-template>
